.btn {
  width: 5rem;
  height: 3rem;
  border-radius: 2rem;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active {
  background-color: $black;
  color: $white;
}

.non-active {
  background-color: $white;
  color: $black;
}
